.loaderWrapper {
	margin: 5% auto;
	display: flex;
	justify-content: center;
	gap: 15px;
}

.loaderCaption {
	color: var(--accent-light);
	user-select: none;
	text-transform: uppercase;
	animation: caption 2s ease-in infinite;
}

.loaderStar {
	background-image: url('@/assets/img/star-thin.svg');
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	animation: star-rotation 2s linear infinite;
}

@keyframes caption {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes star-rotation {
	0% {
		transform: rotate(0deg);
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		transform: rotate(360deg);
		opacity: 1;
	}
}