.backLink {
	margin: 10px 0 0 0;
	border-top: 0.3px solid transparent;
	border-bottom: 0.3px solid transparent;
	transition: all .3s ease-out;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	text-decoration: none;
}

.backLink:hover {
	border-top: 0.3px solid var(--dark);
	border-bottom: 0.3px solid var(--dark);
}

.backLinkCaption {
	font-family: 'space-grotesk-light';
	font-size: 24px;
}