/* UnifrakturCook */
@font-face {
	font-family: 'unifraktur';
	src: url('@/assets/fonts/UnifrakturCook/UnifrakturCook-Bold.ttf') format('truetype');
}

/* SpaceGrotesk */
@font-face {
	font-family: 'space-grotesk-light';
	src: url('@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Light.ttf') format('truetype');
}

@font-face {
	font-family: 'space-grotesk-regular';
	src: url('@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'space-grotesk-medium';
	src: url('@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Medium.ttf') format('truetype');
}

@font-face {
	font-family: 'space-grotesk-semibold';
	src: url('@/assets/fonts/SpaceGrotesk/SpaceGrotesk-SemiBold.ttf') format('truetype');
}

@font-face {
	font-family: 'space-grotesk-bold';
	src: url('@/assets/fonts/SpaceGrotesk/SpaceGrotesk-Bold.ttf') format('truetype');
}