@media screen and (min-width: 1451px) {
	.card {
		width: 17vw;
	}
}

@media screen and (max-width: 1660px) {
	.card {
		width: 22.8vw;
	}
}

@media screen and (max-width: 1374px) {
	.card {
		width: 22.7vw;
	}
}

@media screen and (max-width: 1170px) {
	.card {
		width: 34.3vw;
	}
}

@media screen and (max-width: 860px) {
	.card {
		width: 69.2vw;
	}
}

.card {
	cursor: pointer;
	height: 200px;
	border: 1px solid var(--dark);
	transition: all .3s ease-out;
	overflow: hidden;
	padding: 5px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
}

.card::after {
	content: 'watch';
	color: var(--accent-light);
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(40, 34, 36, 1);
	font-size: 24px;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateY(100%);
	opacity: 0;
	visibility: hidden;
	transition: all .2s ease-out;
}

.card:hover {
	border: 1px solid var(--accent-light);
}

.card:hover::after {
	transform: translateY(0);
	opacity: 1;
	visibility: visible;
}

.movieTitle {
	text-transform: uppercase;
	user-select: none;
	color: var(--light-text);
	padding: 0 5px;
	background-color: rgba(0, 0, 0, 0.5);
}