.loginForm {
	margin: 20px auto 0;
	padding: 25px 50px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 450px;
	gap: 15px;
	background-color: #fff;
	border-radius: 10px;
	border: 1px solid var(--dark);
}

.loginForm * {
	width: 100%;
}