.menuWrapper {
	height: 100%;
	width: 300px;
	user-select: none;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transform: translateX(-100%);
	border-right: 1px solid var(--accent-light);
	background-color: var(--primary-light);
	transition: all 1s cubic-bezier(.17, .8, 0, 1);
}

.menuWrapper.menuOpen {
	pointer-events: all;
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}

.menuContent {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.menuHeader {
	padding: 15px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--accent-light);
}

.menuTitle {
	color: var(--accent-light);
	text-transform: uppercase;
	font-size: 36px;
}

.closeMenuBtn {
	border: none;
	cursor: pointer;
	width: 38px;
	height: 15px;
	background-color: transparent;
	background-image: url('@/assets/img/short-left-arrow.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.list {
	list-style-type: none;
	margin: 0;
	padding: 45px 0 0 0;
}

.list li {
	width: 100%;
}

.link {
	display: block;
	width: 100%;
	padding: 20px 30px;
	text-decoration: none;
	transition: all .2s ease-out;
	font-family: 'space-grotesk-light';
	font-size: 24px;
	text-transform: uppercase;
}

.link:hover {
	background-color: #251d20;
}

.logout {
	align-self: flex-end;
	transform: translateY(-85%);
	width: 100%;
	height: 90px;
	padding: 20px 30px;
	cursor: pointer;
	text-align: left;
	text-transform: uppercase;
	color: var(--red);
	background-color: transparent;
	outline: none;
	font-family: 'space-grotesk-light';
	font-size: 24px;
	transition: all .2s ease-out;
	border: none;
	border-top: 1px solid var(--accent-light);
}

.logout:hover {
	background-color: var(--accent-light);
	color: var(--text-light)
}