.menuWrapper {
	user-select: none;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
	padding: 30px;
	position: absolute;
	top: 50px;
	left: 12.5vw;
	border: 1px solid var(--dark);
	background-color: #fff;
	transition: all .3s ease-in;
}

.menuWrapper.menuOpen {
	user-select: all;
	pointer-events: all;
	opacity: 1;
	visibility: visible;
}