.myButton {
	padding: 10px;
	border: 1px solid var(--dark);
	color: var(--dark-text);
	background-color: transparent;
	text-transform: uppercase;
	min-width: 150px;
	min-height: 50px;
	cursor: pointer;
	transition: all .2s ease-in;
}

.myButton:hover {
	transform: translateY(-5px);
	border: 1px solid var(--accent-light);
	color: var(--accent-light);
}