.inputWrapper {
	width: 100%;
	position: relative;
}

.myInput {
	width: 100%;
	padding: 5px 8px;
	min-width: 300px;
	font-size: 16px;
	background-color: transparent;
	border-bottom: 1px solid #898989;
	border-right: 1px solid transparent;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	outline: none;
}

.myInput:focus {
	outline: none;
	border-bottom: 1px solid var(--primary-light);
}

.showPassword {
	position: absolute;
	display: block;
	width: 16px;
	height: 16px;
	right: 5px;
	bottom: 8px;
	cursor: pointer;
	background-image: url('../../../assets/img/eye.svg');
	background-position: center center;
	background-size: contain;
}