.mainInfoWrapper {
	padding: 50px 0;
	display: flex;
	column-gap: 50px;
}

.mainInfoPoster {
	width: 30%;
}

.mainInfoPoster img {
	width: 100%;
}

@media screen and (min-width: 1440px) {
	.info {
		width: 50%;
	}
}

@media screen and (max-width: 1441px) {
	.info {
		width: 70%;
	}
}

.movieTitle {
	font-family: 'space-grotesk-bold';
	font-size: 80px;
	margin: 0 0 20px 0;
}

.movieAdditionalInfo * {
	font-family: 'space-grotesk-light';
	font-size: 20px;
	font-style: italic;
}

.userRating {
	font-family: 'space-grotesk-semibold';
	color: var(--red);
	font-size: 26px;
	font-style: normal;
	display: flex;
	margin: 10px 0 0 0;
	align-items: center;
	gap: 10px;
}

.moviePlotOverview {
	margin: 7vh 0 0 0;
	font-size: 24px;
}

.dividerLine {
	margin: 5vh 0 0 0;
	background-color: rgba(40, 34, 36, 0.3);
	height: 1px;
}

.actions {
	padding: 50px 0 0 0;
	display: flex;
	align-items: center;
	column-gap: 20px;
}

.saveMovieBtn {
	display: flex;
	width: 80px;
	align-items: center;
	gap: 10px;
	cursor: pointer;
	background-color: transparent;
	border: none;
	outline: none;
}

.title {
	font-family: 'space-grotesk-regular';
	font-size: 60px;
	margin: 40px 0 30px 0;
}