.navbar {
	width: 100%;
	height: 80px;
	background-color: #f3f3f3;
}

.navbarContent {
	height: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.linkLogin {
	color: var(--red);
	font-size: 24px;
	font-family: 'crimson-light';
	text-decoration: none;
	text-transform: uppercase;
}

.linkLogin:hover {
	text-decoration: underline;
}