.block1 {
	height: 300px;
	padding: 0 0 30px 0;
	position: relative;
}

.block1::after {
	content: '';
	display: block;
	background-color: var(--dark);
	width: 100%;
	height: 1px;
	position: absolute;
	bottom: 0;
	left: 0;
}

.leftBlock1 {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: end;
}

.rightBlock1 {
	height: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: end;
}

.block2 {
	height: 220px;
	padding: 20px 0 0 0;
	position: relative;
}

.leftBlock2 {
	height: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: end;
}

.rightBlock2 {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.preferences {
	padding: 0 0 0 40px;
	width: 80%;
	list-style-image: url("@/assets/img/sun-light.svg");
}

.preferences li {
	list-style-type: none;
	margin: 0 0 15px 0;
}

.joinText {
	max-width: 500px;
}

.preferences li p {
	vertical-align: top;
	display: inline-block;
	margin-top: -10px;
}

.exploreLink {
	margin: 0 0 0 40px;
	max-width: 150px;
}

.block3 {
	height: 450px;
	margin: 120px 0 0 0;
}

.ideaTitle {
	margin: 0 0 40px 0;
}

.leftBlock3 {
	height: 100%;
	padding: 0 50px 0 0;
}

.rightBlock3 {
	height: 100%;
	background-image: url('@/assets/img/abstract-image.png');
	background-repeat: no-repeat;
}

.ideaRow {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ideaRow:not(:last-child) {
	margin: 0 0 80px 0;
}

.ideaContent {
	max-width: 370px;
}

.block4 {
	height: 600px;
	margin: 120px 0 0 0;
}

.benefitsTitle {
	margin: 0 0 40px 0;
}


.rightBlock4 {
	padding: 91px 0 0 0;
}

.benefit {
	max-width: 320px;
}

.benefit:not(:last-child) {
	margin: 0 0 50px 0;
}

.benefitHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.benefitHeader::after {
	content: '';
	display: block;
	width: 100%;
	height: 20px;
	border-top: 1px solid var(--dark);
	border-right: 1px solid var(--dark);
	position: absolute;
	left: 0;
	bottom: -100%;
}

.benefitNumber {
	font-size: 14px;
	font-family: 'space-grotesk-bold';
	color: var(--accent-light)
}

.benefitTitle {
	font-size: 20px;
	text-transform: uppercase;
}

.benefitBody {
	margin: 20px 0 0 0;
	padding: 0 20px 0 0;
}

.benefitsLeftCol,
.benefitsRightCol {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}