.mainHeader {
	text-align: center;
	margin: 20px 0 80px 0;
}

.mainHeader span {
	font-size: 7.5vw;
	font-family: 'crimson-black';
	margin: 0 2vw 0 0;
	display: inline-block;
}

.mainHeader span::first-letter {
	color: var(--red);
}

.textBlock {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.SmallTextBlockWithMargin {
	margin: 0 0 0 256px;
	position: relative;
}

.SmallTextBlockWithMargin::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 144px;
	height: 1px;
	background-color: var(--red);
	top: 30px;
	left: -195px;
}

.buttonInTextBlock {
	margin: 20px 0 0 0;
}