.mainTitle {
	text-align: center;
	margin: 20px 0 80px 0;
}

.mainTitle span {
	font-size: 7.5vw;
	font-family: 'unifraktur';
	margin: 0 1.5vw 0 0;
	display: inline-block;
	letter-spacing: -5px;
}

.mainTitle span::first-letter {
	color: var(--red);
}

.textBlock {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

.textBlock h2 {
	min-width: 150px;
}

.SmallTextBlockWithMargin {
	margin: 0 0 0 256px;
	position: relative;
}

.SmallTextBlockWithMargin::before {
	content: '';
	display: inline-block;
	position: absolute;
	width: 144px;
	height: 1px;
	background-color: var(--red);
	top: 30px;
	left: -195px;
}

.buttonInTextBlock {
	margin: 20px 0 0 0;
}

.coverImg {
	margin: 50px 0 50px 0;
	height: 300px;
	width: 100%;
	background: center left no-repeat url("../../assets/img/home-image.jpg");
	object-fit: contain;
}

.benefitsBlock {
	margin: 100px 0 0 0;
}

.benefitsContent {
	margin: 50px 0 0 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-items: flex-start;
}

.benefitTitle {
	display: block;
	width: 100%;
	margin: 0 0 25px 0;
	text-align: left;
	text-transform: uppercase;
	position: relative;
	color: rgba(0, 0, 0, 0.7);
}

.benefitTitle::after {
	content: '';
	display: block;
	height: 1px;
	width: 100%;
	background-color: var(--dark);
	position: absolute;
	bottom: -2px;
	left: 0;
}

.benefit {
	flex-basis: 33.333333%;
	padding: 0 30px 40px 0;
}

.filmIllustration {
	margin: 50px 0 0 0;
	height: 798px;
	width: 100%;
	background: center center no-repeat url("../../assets/img/film-illustration.svg");
	object-fit: contain;
}